<launch>

    <include file="$(find rmua_config)/launch/load_rm_hw.launch"/>

    <rosparam file="$(find rm_control_study)/config/left_front_wheel_controller.yaml" command="load"/>
    <node name="controller_loader" pkg="controller_manager" type="spawner" output="screen"
          args="
            controllers/robot_state_controller
            controllers/joint_state_controller
            controllers/left_front_wheel_controller
    "/>
</launch>
